* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 430px;
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.container input {
  display: none;
}
.container .main-card {
  width: 200%;
  touch-action: pan-x;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: space-evenly;
  transition: all 0.5s ease-in-out;
}
.container .main-card .cards {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 200%;
  margin: 0;
  align-items: center;
  padding: 0;
  touch-action: pan-x;
}
.container .main-card .cards .card {
  background: #fff;
  height: 200px;
  width: 16.6666666667%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container .main-card .cards .card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .main-card .cards .card .content .img {
  height: 100%;
  width: 100%;
  margin-bottom: 14px;
}
.container .main-card .cards .card .content a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #333339;
}
.container .main-card .cards .card .content a img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 668px) {
  .container {
    scroll-behavior: smooth;
    touch-action: pan-x;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .container .buttons,
.container .side {
    display: none;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
}
.buttons label {
  height: 15px;
  width: 15px;
  background: #c4c4c4;
  margin: 0 8px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.buttons .active {
  background: #009739;
}

#one:checked ~ .buttons label.one {
  background: #009739;
}

#two:checked ~ .buttons label.two {
  background: #009739;
}

#two:checked ~ .buttons label.one {
  background: #c4c4c4;
}

#two:checked ~ .main-card {
  margin-left: -100%;
}

.side {
  width: 450px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.side svg {
  fill: #c4c4c4;
}
.side label {
  height: 30px;
  width: 30px;
  margin: 0 4px;
  cursor: pointer;
}

.main-card {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: -20%;
  }
  100% {
    margin-left: 0%;
  }
}